<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>dias</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Fecha</th>
				<th>Id disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dia : ${dias}">
				<td><span th:text="${dia.id}" /></td>
				<td><span th:text="${dia.fecha}" /></td>
				<td><span th:text="${dia.disponibilidades.id}" /></td>
			</tr>
		</tbody>		
	</table>
	<form action="#" th:action="@{/dias/}" th:object="${dia}" method="post">
		<p>Fecha: <input type="date" th:field="*{fecha}" /></p>
		<div>
			<label for="disponibilidades">Disponibilidades:</label>
				<div>
					<select th:field="*{disponibilidades}">
						<option value="" th:text="'Seleccione una disponibilidad'"></option>
						<option th:each="disponibilidad : ${disponibilidades}" 
							th:value="${disponibilidad.id}"
							th:text="${disponibilidad.id}"
						/>													
					</select>
				</div>
		</div>
		<input type="submit" />
	
	</form>

</body>
</html>