<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servicios</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>NombreServicio</th>
				<th>DuracionServicio</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="servicio : ${servicios}">
				<td><span th:text="${servicio.id}" /></td>
				<td><span th:text="${servicio.nombreServicio}" /></td>
				<td><span th:text="${servicio.duracionServicio}" /></td>
			</tr>
		</tbody>		
	</table>
	<form action="#" th:action="@{/servicios/}" th:object="${servicio}" method="post">
		<p>NombreServicio: <input type="text" th:field="*{nombreServicio}" /></p>
		<p>DuracionServicio: <input type="number" th:field="*{duracionServicio}" /></p>
		<input type="submit" />
	
	</form>

</body>
</html>