<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servicios</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Empleado</th>
				<th>Cliente</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="turno : ${turnos}">
				<td><span th:text="${turno.id}" /></td>
				<td><span th:text="${turno.empleado.legajo}" /></td>
				<td><span th:text="${servicio.cliente.nroCliente}" /></td>
			</tr>
		</tbody>		
	</table>
	<form action="#" th:action="@{/turnos/}" th:object="${turno}" method="post">
		<p>NombreServicio: <input type="text" th:field="*{nombreServicio}" /></p>
		<p>DuracionServicio: <input type="number" th:field="*{duracionServicio}" /></p>
		<input type="submit" />
	
	</form>

</body>
</html>