<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>404 - Error del servidor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/errores.css" rel="stylesheet">
</head>
<body>
    <div class="error-box">
        <div class="error-code">500</div>
        <div class="error-message">Error interno del servidor</div>
        <div class="error-subtext">Ha ocurrido un problema inesperado. Por favor, intenta más tarde o contacta al administrador.</div>
        <a href="/" class="btn btn-primary btn-home" >Volver al inicio</a></p>
    </div>
</body>
</html>